#Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/

#Swift & Obj-C Specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

#Playgrounds
timeline.xctimeline
playground.xcworkspace

#Swift Package Manager
.swiftpm/
.build/
Package.resolved
Package.pins

#CocoaPods
Pods/
Podfile.lock
*.xcworkspace


#fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

#Secrets
.env
*.env

#macOS and Editor Junk
*.DS_Store
.idea/
*.orig
*~
*.lock
*.swp

#InjectionIII 
*.moved-aside
injection.bundle
Injection/

